<form runat="server" method="post" enctype="multipart/form-data" dasp-controller="Files" asp-controller="Img" asp-action="Upload">
    <div>
        <div class="row">
            <div id="pic1">
                <span>First photo</span>
                <br>
                <img id="img1" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL1(this)" name="file1" id="input1" />
                <br>
                <button onclick="readURL1(this)" type="button" style="display: none" id="btn1" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Second photo</span>
                <br>
                <img id="img2" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL2(this)" name="file2" id="input2"/>
                <br>
                <button onclick="readURL2(this)" type="button" style="display: none" id="btn2" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Tird photo</span>
                <br>
                <img id="img3" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL3(this)" name="file3" id="input3"/>
                <br>
                <button onclick="readURL3(this)" type="button" style="display: none" id="btn3" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Fourth photo</span>
                <br>
                <img id="img4" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL4(this)" name="file4" id="input4"/>
                <br>
                <button onclick="readURL4(this)" type="button" style="display: none" id="btn4" class="btn btn-outline-secondary">Remove</button>
            </div>
        </div>
        <div class="row">
            <div>
                <span>Fifth photo</span>
                <br>
                <img id="img5" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL5(this)" name="file5" id="input5"/>
                <br>
                <button onclick="readURL5(this)" type="button" style="display: none" id="btn5" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Sixth photo</span>
                <br>
                <img id="img6" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL6(this)" name="file6" id="input6"/>
                <br>
                <button onclick="readURL6(this)" type="button" style="display: none" id="btn6" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Seventh photo</span>
                <br>
                <img id="img7" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL7(this)" name="file7" id="input7"/>
                <br>
                <button onclick="readURL7(this)" type="button" style="display: none" id="btn7" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div>
                <span>Eighth photo</span>
                <br>
                <img id="img8" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL8(this)" name="file8" id="input8"/>
                <br>
                <button onclick="readURL8(this)" type="button" style="display: none" id="btn8" class="btn btn-outline-secondary">Remove</button>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <span>Ninth photo</span>
                <br>
                <img id="img9" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL9(this)" name="file9" id="input9"/>
                <br>
                <button onclick="readURL9(this)" type="button" style="display: none" id="btn9" class="btn btn-outline-secondary">Remove</button>
            </div>
            <div class="column">
                <span>Thenth photo</span>
                <br>
                <img id="img10" src="http://placehold.it/180" class="defaultImg" alt="your image" />
                <br>
                <input type='file' onchange="readURL10(this)" name="file10" id="input10"/>
                <br>
                <button onclick="readURL10(this)" type="button" style="display: none" id="btn10" class="btn btn-outline-secondary">Remove</button>
            </div>
        </div>
        <div>You can add 10 photoes with max size 10MB. Choose photoes in jpg,jpeg or png formts.<br> If the format is other type or the size is bigger, photo won't be uploaded!</div>
        <button type="submit" value="Upload Imgs" class="btn btn-primary">Upload Imgs</button>
    </div>

</form>



