<div> Id:@this.ViewBag.Id</div>>
<form method="post" enctype="multipart/form-data" dasp-controller="Files" asp-controller="Img" asp-action="Upload" style="clear: both;position: relative;height: 200px;margin-top: 100px;">
    <input type="file" name="files" multiple />
    <button type="submit" value="Upload Imgs" class="btn btn-primary">Upload Imgs</button>
</form>