
@{
    ViewData["Title"] = "_AccountNavPartial";
}
    <aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
        <div class="block block-account">
            <div class="block-title"> My Account </div>
            <div class="block-content">
                <ul>
                    <li class="current"><a asp-controller="MyAccount" asp-action="MyAccount">Account Dashboard</a></li>
                    <li><a asp-controller="MyAccount" asp-action="AccountInfo"><span> Account Information</span></a></li>
                    <li><a href="#"><span> Change profile picture</span></a></li>
                    <li><a href="#"><span> Favourite ads</span></a></li>


                </ul>
            </div>
        </div>

    </aside>

