
@{
    ViewData["Title"] = "AccountInfo";
}
<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account">

                        <!--page-title-->
                        <!-- BEGIN DASHBOARD-->
                        <div class="dashboard">
                            <div class="box-account">
                                <div class="page-title">
                                    <h2>Account Information</h2>
                                </div>
                                <div class="col2-set">
                                    <div class="col-1">
                                        <div class="box">
                                            <div class="box-title">
                                                <h5>Contact Information</h5>
                                                <a href="#">Edit</a>
                                            </div>
                                            <!--box-title-->
                                            <div class="box-content">
                                                <p>
                                                    jhon doe<br>
                                                    jhon.doe@gmail.com<br>
                                                    <a href="#">Change Password</a>
                                                </p>
                                            </div>
                                            <!--box-content-->
                                        </div>
                                        <!--box-->
                                    </div>
                                    <div class="col-2">
                                        <div class="box">
                                            <div class="box-title">
                                                <h5>Newsletters</h5>
                                                <a href="#">Edit</a>
                                            </div>
                                            <!--box-title-->
                                            <div class="box-content">
                                                <p> You are currently not subscribed to any newsletter. </p>
                                            </div>
                                            <!--box-content-->
                                        </div>
                                        <!--box-->
                                    </div>
                                </div>
                                <div class="col2-set">
                                    <div class="box">
                                        <div class="box-title">
                                            <h4>Address Book</h4>
                                            <a href="#">Manage Addresses</a>
                                        </div>
                                        <!--box-title-->
                                        <div class="box-content">
                                            <div class="col-1">
                                                <h5>Default Billing Address</h5>
                                                <address>
                                                    jhon doe<br>
                                                    Street road<br>
                                                    AL,  Alabama, 42136<br>
                                                    United States<br>
                                                    T: 4563 <br>
                                                    <a href="#">Edit Address</a>
                                                </address>
                                            </div>
                                            <div class="col-2">
                                                <h5>Default Shipping Address</h5>
                                                <address>
                                                    jhon doe<br>
                                                    Street road<br>
                                                    AL,  Alabama, 42136<br>
                                                    United States<br>
                                                    T: 4563 <br>
                                                    <a href="#">Edit Address</a>
                                                </address>
                                            </div>
                                        </div>
                                        <!--box-content-->
                                    </div>
                                    <!--box-->
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <partial name="_AccountNavPartial" />
            </div>
        </div>
    </section>
</div>
