@model DimiAuto.Web.ViewModels.MyAccount.ChangeAvatarModel
@{
    ViewData["Title"] = "ChangeAvatar";
}
<body onload="loadImg()">
    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">
                            <div class="box-account">
                                <div style="display: none;" class="alert alert-success" role="alert" id="imgRemove">
                                    Image is removed!
                                </div>
                                <div style="display: none;" class="alert alert-danger" role="alert" id="imgNotRemoved">
                                    Image can't be removed!
                                </div>
                                <div class="alert alert-danger" role="alert" style="display: none" id="alert">
                                    Image doesn't meet the requirements!
                                </div>
                                <h3>Choose new profile picture.</h3>
                                <form runat="server" method="post" id="form" enctype="multipart/form-data" dasp-controller="Files" asp-controller="MyAccount" asp-action="ChangeAvatar">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div id="pic1">
                                        <br>
                                        <img id="img" src="@Model.ChangeAvatarViewModel.ImgPath" class="defaultImg" alt="your image" />
                                        <br>
                                        <input asp-for="@Model.ChangeAvatarInputModel.File" type='file' onchange="readURL(this)"  id="input" />
                                        <br>
                                        <button id="btnSubmit" type="submit" value="Upload Imgs" class="btn btn-primary">Upload Imgs</button>
                                        <br>
                                        <button onclick="readURL(this);" type="button" id="btn" class="btn btn-outline-secondary">Remove</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </section>
                    <partial name="_AccountNavPartial" />
                </div>
            </div>
        </section>
    </div>
</body>

