@using DimiAuto.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "_HeaderButtonsPartial";

}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DimiAuto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="All">All ads</a>
                </li>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="SearchHistory" asp-action="SearchHistoryIndex" title="Search history">Search history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Ad" asp-action="CreateAd" title="Create ad">Create new ad</a>
                    </li>
                }
                <li class="nav-item">
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </div>
    </div>
</nav>


