
@{
    ViewData["Title"] = "Error";
}
<body style="overflow: hidden;">
    <section id="page-404-wrap" class="section-padding overlay" style="margin-bottom: -18px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="page-404-content" style="margin-bottom: 70px;">                      
                            <h4>OOPS... </h4>
                            <p>PLEASE, TRY AGAIN LATER!</p>
                            <a href="~/Home/Index" class="btn-404-home"><i class="fa fa-home"></i>Go to Home</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</body>

